{% extends "@AppAdmin/Block/block_post_layout.html.twig" %}

{% block post_status %}{% endblock %}

{% block comments_count %}<td><span class="badge">{{ post.num_comments }}</span></td>{% endblock %}
